hello-class/src/main/mule/hello-class.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e3993cda-5291-4932-9d03-1789dd9cb81b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-classFlow" doc:id="a8eab88e-c03f-45ca-bdfe-191f67d29a32" >
		<http:listener doc:name="Listener" doc:id="ab0d4001-c91d-4d52-95cf-2fcbcc2aaff1" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="56c08121-7c40-412f-8a38-a575d9f19357" message="#[message]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8ba91bf9-4307-4e08-8b4e-3bb347a222ff" />
	</flow>
</mule>
